.logo
    text-align: center
.scenario
    margin: 0 2rem 2rem 2rem
    padding-top: 2rem
    .dialog-title
        font-size: 20px
        width: 100%
        margin-bottom: 1rem
    .dialog-intro
        margin-bottom: 2rem
        width: 100%
        textarea:not(:focus)
            width: inherit
            border: 1px solid rgba(34,36,38,.15)
    .dialog
        margin-left: 2rem
