$sidebar-width: 25vw

.page
    position: relative
    .spacing
        position: fixed
        top: 0
        left: 0
        width: $sidebar-width
        height: 100%
        background-color: #ddd
    .sidebar
        position: fixed
        top: 0
        right: 0
        height: 100%
        width: $sidebar-width
        background-color: #ddd
    .content
        margin: 1rem $sidebar-width 3rem $sidebar-width
